<div class="links">
  <div class="sites">
    {{#each linkItems as |linkItem|}}
      <div class="link">
        <a href="{{ linkItem.url }}" target="_blank">
          <img src="{{ linkItem.image }}" alt="{{ linkItem.title }}" title="{{ linkItem.title }}" />
          <br/>
          {{ linkItem.title }}
        </a>
      </div>
    {{/each}}
  </div>
  {{#if docs}}
    <div class="docs container-fluid">
      <h1>Documents à télécharger</h1>
      <div class="row">
        <div class="col-12">
          <ul>
            {{#each docs as |doc|}}
              <li>
                {{ doc.title }} : <a href="{{ doc.url }}" target="_blank">Télécharger</a>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  {{/if}}
</div>
